<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Medale filmów</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(allMedalMovies)}">

        <h2>Medale filmów</h2>

        <table class="table table-striped">
            <tr>
                <th>Film</th>
                <th>Łącznie w liście</th>
                <th>Złoto</th>
                <th>Srebro</th>
                <th>Brąz</th>
                <th>Pozostałe pozycje</th>
            </tr>
            <tr th:each="pos : ${allMedalMovies}">
                <td>
                    <a th:href="@{/single/movie(movieId=${pos.getMovieId()})}" th:text="${pos.getMovieTitle()}"></a>
                </td>
                <td th:text="${pos.getTotalInList()}"></td>
                <td th:text="${pos.getMedals().get(1)}"></td>
                <td th:text="${pos.getMedals().get(2)}"></td>
                <td th:text="${pos.getMedals().get(3)}"></td>
                <td>
                    <span th:each="i : ${#numbers.sequence( 4, 20)}">
                        <span th:text="${'miejsce ' + i + ': ' + pos.getMedals().get(i)}" th:remove="tag"></span>
                        <span th:if="${i != 20}" th:remove="tag">,&nbsp;</span>
                        <span th:if="${(i%3) ==0 }" th:remove="tag"><br></span>
                    </span>
                </td>
            </tr>
        </table>
        </span>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>