<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">

<head th:replace="fragments/common :: header">
    Tu będzie nagłówek
</head>

<body>

<div class="container" th:replace="fragments/navigational :: nawigacja">Tu będzie menu nawigacyjne</div>

<div class="container" th:with="pagingMainLink='/all/lists'">

    <div th:if="${not #lists.isEmpty(allLists)}">

        <h2>Wszystkie notowania <i>Listy Przebojów Muzyki Filmowej RMF Classic</i></h2>

        <nav th:replace="fragments/paging :: myPaging"></nav>

        <!--/*@thymesVar id="allLists" type="java.util.LinkedList<java.util.LinkedList<pl.kostrowski.lpmf.model.LPMFPosition>>"*/-->
        <div th:each="list : ${allLists}" th:remove="tag">
            <h3 th:utext="'Notowanie numer <strong>'
                    + ${list.getFirst().getListInfo().getNoOfList()}
                    + '</strong> z dnia <strong>'
                    + ${list.getFirst().getListInfo().getDateOfList()}
                    + '</strong>'">
            </h3>
            <table class="table table-striped">
                <tr>
                    <th>Pozycja</th>
                    <th>Tytuł utworu</th>
                    <th>Film</th>
                    <th>Artyści</th>
                </tr>
                <th:block th:each="pos: ${list}">
                    <tr>
                        <td th:text="${pos.getPos()}"></td>
                        <td>
                            <a th:href="@{/single/song(songId=${pos.getSong().getId()})}"
                               th:text="${pos.getSong().getTitle()}"></a>
                        </td>

                        <td>
                            <a th:href="@{/single/movie(movieId=${pos.getSong().getMovie().getId()})}"
                               th:text="${pos.getSong().getMovie().getTitle()}"> </a>
                        </td>

                        <td>
                            <span th:each="artist, iter: ${pos.getSong().getArtists()}" th:remove="tag">
                                <span>
                                    <a th:href="@{/single/artist(artistId=${artist.getId()})}"
                                       th:text="${artist.getFullName()}"></a>
                                </span>
                                <span th:if="${iter.index+1!=pos.getSong().getArtists().size()}">
                                    <br/>
                                </span>
                            </span>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
        <nav th:replace="fragments/paging :: myPaging"></nav>
    </div>
</div>


<div class="container" th:replace="fragments/common :: footer">Tu będzie stopka</div>

</body>
</html>