<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lista filmów</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container" th:with="pagingMainLink='/all/movies'">
    <div th:if="${not #lists.isEmpty(allMovies)}">

        <h2>Wszystkie filmy <i>Listy Przebojów Muzyki Filmowej RMF Classic</i></h2>

        <th:block th:include="layout/paging_controls"></th:block>

        <table class="table table-striped">
            <tr>
                <th>Tytuł filmu</th>
                <th>Data pierwszego wystąpienia w liście</th>
                <th>Nr listy w której wystąpił po raz pierwszy</th>
            </tr>
            <tr th:each="pos : ${allMovies}">
                <td><a th:href="@{/single/movie(movieId=${pos.getId()})}" th:text="${pos.getTitle()}">Link</a></td>
                <td th:text="${pos.getFirstTimeInList().getDateOfList()}"></td>
                <td th:text="${pos.getFirstTimeInList().getNoOfList()}"></td>
            </tr>
        </table>

        <th:block th:include="layout/paging_controls"></th:block>

    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>