<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">

<head th:replace="fragments/common :: header">
    Tu będzie nagłówek
</head>

<body>

<div class="container" th:replace="fragments/navigational :: nawigacja">Tu będzie menu nawigacyjne</div>

<div class="container">
    <div th:if="${not #lists.isEmpty(lists)}">

        <h2>
            <span th:text="${'Notowanie nr '}"></span>
            <b th:text="${lists.get(0).getListInfo().getNoOfList()}"></b>
        </h2>

        <table class="table table-striped">
            <tr>
                <th>Pozycja</th>
                <th>Tytuł filmu</th>
                <th>Tytuł utworu</th>
                <th>Autorzy</th>
            </tr>
            <tr th:each="pos : ${lists}">
                <td th:text="${pos.getPos()}">id</td>
                <td>
                    <a th:href="@{/single/movie(movieId=${pos.getSong().getMovie().getId()})}"
                       th:text="${pos.getSong().getMovie().getTitle()}">
                    </a>
                </td>
                <td>
                    <a th:href="@{/single/song(songId=${pos.getSong().getId()})}" th:text="${pos.getSong().getTitle()}"></a>
                </td>
                <td>
                    <span th:each="artist, iter: ${pos.getSong().getArtists()}">
                        <span>
                            <a th:href="@{/single/artist(artistId=${artist.getId()})}"
                               th:text="${artist.getFullName()}"></a>
                        </span>
                        <span th:if="${iter.index+1!=pos.getSong().getArtists().size()}">
                            <br/>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container" th:replace="fragments/common :: footer">Tu będzie stopka</div>

</body>
</html>