<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lista przebojow</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${singleMovie != null}">

        <h3>
            Utwory z filmu:
        </h3>
        <h2>
            <b th:text="${singleMovie.getMovie().getTitle()}"></b>
        </h2>

        <h3>
            <span th:text="${'Pierwszy raz w liście nr '}"></span>
            <b th:text="${singleMovie.getMovie().getFirstTimeInList().getNoOfList()}"></b>
            <span th:text="${' z dnia '}"></span>
            <b th:text="${singleMovie.getMovie().getFirstTimeInList().getDateOfList()}"></b>
        </h3>

        <table class="table table-striped">
            <tr>
                <th>Utwór</th>
                <th>Artyści</th>
                <th>Pierwszy raz w liście nr</th>
                <th>Data Listy</th>
            </tr>
            <tr th:each="pos : ${singleMovie.getSongList()}">
                <td>
                    <a th:href="@{/single/song(songId=${pos.getId()})}" th:text="${pos.getTitle()}"></a>
                </td>
                <td>
                    <span th:each="artist, iter: ${pos.getArtists()}">
                        <span>
                            <a th:href="@{/single/artist(artistId=${artist.getId()})}"
                               th:text="${artist.getFullName()}"></a>
                        </span>
                        <span th:if="${iter.index+1!=pos.getArtists().size()}">
                            <br></br>
                        </span>
                    </span>
                </td>
                <td th:text="${pos.getFirstTimeInList().getNoOfList()}"></td>
                <td th:text="${pos.getFirstTimeInList().getDateOfList()}"></td>
            </tr>
        </table>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>