<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Historia Listy Przebojów Muzyki Filmowej</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

<div class="container">
    <h2>Pobierz wiele list</h2>
    <div>
        <form class="form-horizontal" th:action="@{/download/many}" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Od listy</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:name="fromList" th:placeholder="0"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Do listy</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:name="toList" th:placeholder="251"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Zapisz na dysku</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="container">
    <h2>Pobierz jedną listę</h2>
    <div>
        <form class="form-horizontal" th:action="@{/download/single}" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Zapisz tę listę:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:name="fromList" th:placeholder="252"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Zapisz na dysku</button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>

</html>