<nav aria-label="MojaNawigacja">
    <ul class="pagination justify-content-center">
                <span th:switch="${displayPreviousNext[0]}">
                    <li th:case='true' class="page-item">
                         <a class="page-link" th:href="@{${pagingMainLink}(pageNo=${pageNo-1})}"
                            th:text="Poprzednia"></a>
                    </li>
                    <li th:case='false' class="page-item disabled">
                        <span class="page-link">Poprzednia</span>
                    </li>
                </span>

        <myIterationTag th:each="i : ${#numbers.sequence( fromTo[0], fromTo[1])}">
            <li th:if="${pageNo == i}" class="page-item active" >
                <a class="page-link" th:href="@{${pagingMainLink}(pageNo=${i})}" th:text="${i}"></a>
            </li>
            <li th:unless="${pageNo == i}" class="page-item" >
                <a class="page-link" th:href="@{${pagingMainLink}(pageNo=${i})}" th:text="${i}"></a>
            </li>
        </myIterationTag>

        <span th:switch="${displayPreviousNext[1]}">
                <li th:case='true' class="page-item">
                    <a class="page-link" th:href="@{${pagingMainLink}(pageNo=${pageNo+1})}" th:text="Następna"></a>
                </li>
                <li th:case='false' class="page-item disabled">
                    <span class="page-link">Następna</span>
                </li>
        </span>
    </ul>
</nav>
