<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lista przebojow</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(lists)}">

        <h2>Lista przebojow</h2>

        <table class="table table-striped">
            <tr>
                <th>Notowanie</th>
                <th>Data notowania</th>
                <th>Pozycja</th>
                <th>Tytuł filmu</th>
                <th>Tytuł listy</th>
                <th>Autorzy</th>
            </tr>
            <tr th:each="pos : ${lists}">
                <td th:text="${pos.getNoOfList()}">id</td>
                <td th:text="${pos.getDateOfList()}">id</td>
                <td th:text="${pos.getPos()}">id</td>
                <td th:text="${pos.getSong().getMovie().getTitle()}">id</td>
                <td th:text="${pos.getSong().getTitle()}">id</td>
                <td>
                    <span th:each="artist: ${pos.getSong().getAuthors()}">
                    <span th:text="${artist.getFullName()}"> ></span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>