<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">

<head th:replace="fragments/common :: header">Tu będzie nagłówek
    <title>Historia Listy Przebojów Muzyki Filmowej RMF Classic</title>
    <meta http-equiv="Content-Type"
          content="text/html" charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          href="https://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/style.css}"
          href="../../static/css/style.css"
          rel="stylesheet"/>
</head>

<body>

<div class="container" th:replace="fragments/navigational :: nawigacja">Tu będzie menu nawigacyjne</div>

<div class="jumbotron">
    <div class="row justify-content-center">
        <h2>Historia i statystyki Listy Przebojów Muzyki Filmowej</h2>
    </div>
    <div class="row justify-content-center">
        <a href="https://www.rmfclassic.pl/lista-przebojow">
            <img src="../static/images/LpmfLogo.jpg" width="100%"
                 th:src="@{/images/LpmfLogo.jpg}"/>
        </a>
    </div>
</div>

<div class="container">
    <h2>Witaj!</h2>
    <h3>na całkowicie amatorskiej stronie ze statystykami Listy Przebojów Muzyki Filmowej</h3>

    <p>Nie zrażaj się że strona działa wolno bo... </p>
    <ul>
        <li>
            jestem początkującym programistą
        </li>
        <li>
            korzystam z darmowych usług do pokazywania tej strony i trzymania bazy danych
        </li>
        <li>
            szybkość działania się poprawia z każdą wersją
        </li>
    </ul>

    <h4>Żeby zrozumieć czym tak naprawdę jest ta strona i jej podstrony:</h4>


    <div id="accordion">
        <div class="card">
            <div class="card-header" id="glowka1">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#zwin1" aria-expanded="true"
                            aria-controls="zwin1">
                        <span th:text="#{index.page.accordion.title.1}">Tekst1</span>
                    </button>
                </h5>
            </div>

            <div id="zwin1" class="collapse show" aria-labelledby="glowka1" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Autorem niniejszego opracowania jest, fan i wierny słuchacz Listy Przebojów Muzyki Filmowej
                            (dalej w skrócie LPMF).
                            Zestawienie zostało przygotowane hobbystycznie i nie mogę zagwarantować, że nie wkradły się
                            błędy (mimo najszczerszych chęci i wielu spędzonych nad nim godzin).
                        </li>
                        <li>Wszystkie dane do niniejszego zestawienia pochodzą ze strony: <a
                                href="http://www.rmfclassic.pl/lista-przebojow/">http://www.rmfclassic.pl/lista-przebojow/</a>.
                        </li>
                        <li>Do opracowania danych wykorzystano napisany w Java program + bazę danych.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="glowka2">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#zwin2"
                            aria-expanded="false" aria-controls="zwin2">
                        <span th:text="#{index.page.accordion.title.2}">Tekst2</span>
                    </button>
                </h5>
            </div>
            <div id="zwin2" class="collapse" aria-labelledby="glowka2" data-parent="#accordion">
                <div class="card-body">
                    <p> Podstawowym założeniem jest poprawność danych na stronie.
                        Założeniem wtórnym jest poprawność działania stosowanych funkcji i
                        algorytmów.</p>
                    <p> Kolejne to: </p>
                    <ul>
                        <li>
                            Notowanie 39 z dnia 30-06-2012 i 02-09-2013 mimo dwóch „audycji” jest
                            liczone
                            jako jedno.
                        </li>
                        <li>
                            Notowanie 0 nie jest w ogóle liczone do statystyk.
                        </li>
                        <li>
                            Mimo różnych zmian w notowaniach (m.in. funkcjonowania przez jakiś
                            czas pozycji 21, zmiany liczby propozycji, dawania niektórym utworom 2.
                            szansy) założono, że LPMF to 20 utworów w notowaniu, propozycje nie są w zestawieniu
                            uwzględniane.
                        </li>
                        <li>
                            Literówki i różne wersje nazewnictwa tego samego utworu (np. „Afera
                            Tomasza Crowna” i „Afera Thomasa Crowna”) zostały ujednolicone (a
                            przynajmniej te różnice które znalazłem - poprawiłem) - ich listy są na
                            podstronach
                        </li>
                    </ul>

                    Założenia bardziej dyskusyjne to:
                    <ul>
                        <li>
                            Artyści zostali potraktowani jako jednostki. Jeśli utwór ma 3 współautorów to zakładam że są
                            to
                            oddzielni artyści i dla każdego z nich oddzielnie liczę statystykę.
                            Efektem jest "więcej medali" dla artystów niż wynikałoby to z prostej matematyki. (Bo jeśli
                            "Now
                            we are free" wygrywa, to złoty medal wędruje na konto Hansa Zimmera i Lisy Gerard).
                        </li>
                        <li>
                            Wiąże się to np. z podziałem "Simon & Garfunkel" na Paul Simon i Art Garfunkel.
                        </li>
                        <li>
                            W statystykach utworów
                            <strong>starałem się</strong>
                            aby ten sam utwór w różnych aranżacjach był liczony jako jeden. Przykładem jest Over the
                            Rainbow
                            w wykonaniu Judy Garland, które jest do statystyk liczone razem z wykonaniem Kayah i Włodka
                            Pawlika.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="glowka3">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#zwin3"
                            aria-expanded="false" aria-controls="zwin3">
                        <span th:text="#{index.page.accordion.title.3}">Tekst3</span>
                    </button>
                </h5>
            </div>
            <div id="zwin3" class="collapse" aria-labelledby="glowka3" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>
                            Na razie dostępna jest tylko klasyfikacja medalowa. Jest liczona tak jak w sporcie, gdzie
                            zawsze
                            liczy się najpierw liczbę złotych
                            medali, później srebrnych i na końcu brązowych – czyli np. utwór z jednym
                            złotym medalem jest wyżej w klasyfikacji niż utwór z 10 srebrnymi i 30
                            brązowymi. Na stronie z tą klasyfikacją jest też dostępna lista innych miejsc zajmowanych
                            przez
                            utwory.
                        </li>
                        <li>
                            Planuję stworzenie klasyfikacji punktowej gdzie jak w skokach narciarskich przyznawane będą
                            punkty za miejsca. Ale to później...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="glowka4">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#zwin4"
                            aria-expanded="false" aria-controls="zwin4">
                        <span th:text="#{index.page.accordion.title.4}">Tekst4</span>
                    </button>
                </h5>
            </div>
            <div id="zwin4" class="collapse" aria-labelledby="glowka3" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li>
                            Poprawienie wydajności
                        </li>
                        <li>
                            Klasyfikacja punktowa i jej podstrony
                        </li>
                        <li>
                            Wyszukiwarki utworów / filmów / artystów
                        </li>
                        <li>
                            Wykresy pokazujące jak sobie radzą utwory w
                        </li>
                        <li>
                            Przejęcie władzy nad światem
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" th:replace="fragments/common :: footer">Tu będzie stopka</div>


</body>
</html>