<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"
          content="text/html" http-equiv="Content-Type"/>
    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link href="../../static/css/style.css"
          rel="stylesheet"
          th:href="@{/css/style.css}"/>
</head>
<body>

<div th:fragment="nawigacja" th:remove="tag">
    <div class="container fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarDropdown1" role="button">
                            Klasyfikacje medalowe
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/medals/songs}">Utwory</a>
                            <a class="dropdown-item" th:href="@{/medals/movies}">Filmy</a>
                            <a class="dropdown-item" th:href="@{/medals/artists}">Artyści</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarDropdown2" role="button">
                            Wszystkie i wszyscy
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/all/songs}">Utwory</a>
                            <a class="dropdown-item" th:href="@{/all/movies}">Filmy</a>
                            <a class="dropdown-item" th:href="@{/all/artists}">Artyści</a>
                            <a class="dropdown-item" th:href="@{/all/lists}">Listy</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarDropdown3" role="button">
                            Zmieniam i ujednolicam
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/mapped/songs}">Utwory</a>
                            <a class="dropdown-item" th:href="@{/mapped/movies}">Filmy</a>
                            <a class="dropdown-item" th:href="@{/mapped/artists}">Artyści</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarDropdown99" role="button">
                            Linki techniczne
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/download}">Pobieranie</a>
                            <a class="dropdown-item" th:href="@{/persist}">Zapisywanie w bazie danych</a>
                        </div>
                    </li>
                </ul>
                <div class="navbar-nav my-2 my-lg-0">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/search}">Wyszukiwarka!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="make-space-under-navbar">
    </div>
</div>


</body>
</html>