<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lista artystów</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(allArtists)}">

        <h2>Wszyscy artyści</h2>

        <table class="table table-striped">
            <tr>
                <th>Artysta</th>
                <th>Data pierwszego wystąpienia w liście</th>
                <th>Nr listy w której wystąpił po raz pierwszy</th>
                <th>Link do statystyk artysty</th>
            </tr>
            <tr th:each="pos : ${allArtists}">
                <td th:text="${pos.getFullName()}"></td>
                <td th:text="${pos.getFirstTimeInList().getDateOfList()}"></td>
                <td th:text="${pos.getFirstTimeInList().getNoOfList()}"></td>
                <td><a th:href="@{/artist(artistId=${pos.getId()})}">Link</a></td>
            </tr>
        </table>
        </span>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>