<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Notowania</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(allLists)}">

        <h2>Wszystkie notowania <i>Listy Przebojów Muzyki Filmowej RMF Classic</i></h2>

        <span th:each="pos : ${allLists}">

            <h3>
            <span th:text="${'Notowanie numer '}"></span>
            <b th:text="${pos.getNoOfList()}"></b>
            <span th:text="${' z dnia '}"></span>
            <b th:text="${pos.getDateOfList()}"></b>
            </h3>


            <table class="table table-striped">
                <tr>
                    <th>Pozycja</th>
                    <th>Tytuł utworu</th>
                    <th>Film</th>
                    <th>Artyści</th>
                </tr>
                <span th:each="list : ${pos.getLpmfPositionList()}" th:remove="tag">
                    <tr>
                        <td th:text="${list.getPos()}"></td>

                        <td>
                            <a th:href="@{/single/song(songId=${list.getSong().getId()})}" th:text="${list.getSong().getTitle()}"></a>
                        </td>

                        <td>
                            <a th:href="@{/single/movie(movieId=${list.getSong().getMovie().getId()})}" th:text="${list.getSong().getMovie().getTitle()}"> </a>
                        </td>

                         <td>
                            <span th:each="artist, iter: ${list.getSong().getAuthors()}" th:remove="tag">
                                <span >
                                    <a th:href="@{/single/artist(artistId=${artist.getId()})}" th:text="${artist.getFullName()}"></a>
                                </span>
                                <span th:if="${iter.index+1!=list.getSong().getAuthors().size()}">
                                    <br></br>
                                </span>
                            </span>
                        </td>
                    </tr>
                </span>
            </table>
            <br><br>
        </span>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>