<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Notowania</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(allLists)}">

        <h2>Wszystkie notowania</h2>

        <span th:each="pos : ${allLists}">
            <br><br>
            <span>Notowanie numer </span>
            <b th:text="${' ' + pos.getNoOfList()+ ' '}"></b>
            <span>z dnia</span>
            <b th:text="${'20' + pos.getDateOfList()}"></b>
            <br><br>

            <table class="table table-striped">
                <tr>
                    <th>Pozycja</th>
                    <th>Film</th>
                    <th>Tytuł utworu</th>
                    <th>Artyści</th>
                </tr>
                <span th:each="list : ${pos.getLpmfPositionList()}" th:remove="tag">
                    <tr>
                        <td th:text="${list.getPos()}"></td>
                        <td th:text="${list.getSong().getMovie().getTitle()}"></td>
                        <td th:text="${list.getSong().getTitle()}"></td>
                         <td>
                            <span th:each="artist, iter: ${list.getSong().getAuthors()}">
                                <span th:text="${artist.getFullName()}"></span>
                                <span th:if="${iter.index+1!=list.getSong().getAuthors().size()}">
                                    <br></br>
                                </span>
                            </span>
                        </td>
                    </tr>
                </span>
            </table>
        </span>
    </div>
</div>

<th:block th:include="layout/footer"></th:block>
</body>
</html>